<form class="form">
  <h2 class="title"> Cálculo CDB</h2>
  <br />

  <label>
    Valor Aplicação:
    <input type="text" name="valorAplicacao" id="valorAplicacao" placeholder="valorAplicacao" [(ngModel)]="valorAplicacao" class="campo-valorApliccao" />
  </label>
  <br />
  <br />
  <label>
    Meses aplicação:
    <input type="text" name="meses" class="campo-meses" id="meses" placeholder="meses" [(ngModel)]="meses" />
  </label>
  <br />
  <br />

  <button type="button" (click)="calcularCdb()">Calcular</button>
  <br />
  <br />
  <br />

  <label> Valor Bruto: R$ {{vlrBruto | currency}}</label>
  <br />
  <label> Valor Líquido: R$ {{vlrLiquido | currency}}</label>  
</form>
